{% extends 'base.html'%}
{% import "macros.html" as macro %}
{% block content %}

<div class="card m-5">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} d-flex align-items-center mt-4" role="alert">
  

      <div>
          {{ message }}
      </div>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

</div>

<div class="text-center">
  <h3 style="color: black;" >PRODUCT PITCHES</h3>
<ul>
  {{macro.display_post(product_pitch)}}
</ul>
</div>


<div class="text-center"><h3 style="color: black;">PICKUP LINE PITCHES </h3>
  <ul>
    {{macro.display_post(pickup_lines)}}
  </ul>
</div>

<div class="text-center"><h3 style="color: black;">INTERVIEW PITCHES</h3>
  <ul>
    {{macro.display_post(interview_pitch)}}
  </ul>
</div>

<div class="text-center"><h3 style="color: black;">HUMOUR PITCHES</h3>
  <ul>
    {{macro.display_post(Humour_pitch)}}
  </ul>
</div>

<div class="text-center">
  <h3 style="color: black;"> PROMOTION PITCHES</h3>
<ul>
  {{macro.display_post(promotion_pitch)}}
</ul>

</div>

{% endblock %}